<h1>welcometo<i class="fas fa-book"></i>Bookers!!</h1>
<h4>In<i class="fas fa-book"></i>Bookers,</h4>
<h4>you can share and exchange your opinions , inpressions , and emotions</h4>
<h4>about various books!</h4>

<%= link_to 'Log in', new_user_session_path, class: "btn btn-secondary" %>
<%= link_to 'sign up', new_user_registration_path, class: "btn btn-secondary" %>